<!DOCTYPE html>
<head>
		<title>Hackathon</title>
<style>
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	nav {
		display: flex;
		justify-content: space-around;
	}
	nav * {
		border: 1px solid black;
	}

</style>
</head>

<body>
	<nav>
		<div><a href="{{ url_for('index') }}">HOME</a></div>
		<div>NPO</div>
		<div><a href="{{ url_for('donor') }}">Donor</a></div>
		<div><a href="{{ url_for('volunteer') }}">Volunteer</a></div>
	</nav>
	{% block content %}
	{% endblock %}
</body>

akjcbajkdhnvl