{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-5 mx-auto message">
            {{message}} needed
        </div>
    </div>

    <div class="row">

        <div class="col-11 mx-auto">
            <div class="npo-box row">

                {% for npo in npos %}
                <div class="card col-5">
                    <div>
                        <a href="/find?id={{npo.id}}">
                            {{npo.name}}
                        </a>
                    </div>
                    <div>
                        {{npo.seeking}}
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>

</div>
{% endblock %}