{% extends 'base.html' %}
{% block content %}
<div id="scoped-content">
	<style>
		.card-container {
			margin: 25px;
			width: 50%;
			border: 1px solid black;
		}
		.top-row, .middle-row, .bottom-row {
			display: flex;
			justify-content: space-around;
		}
		.avatar {
			height: 100px;
			width: 100px;
			border-radius: 50%;
			background: blue;
		}
	</style>
</div>
<h2>DONOR PAGE</h2>
<div>
		<div class="card-container">
			<div class="top-row">
					<div class="description">Company Name</div>
			</div>
			<div class="middle-row">We are seeking volunteers</div>
			<div class="bottom-row">
					<a href="{{ url_for('company') }}"><button>More Info</button></a>
			</div>
		</div>
</div>
{% endblock %}
