{% extends 'base.html' %}

{% block content %}

<div class="container">
    
    <div class="row">

        <div class=" col-4 mx-auto heading">
            Post your Organization's listing:
        </div>
        <form class="org-form form-group col-12" action="{{url_for('index')}}" method="post">
            {{form.hidden_tag()}}
            {{form.name.label}}
            {{form.name}}
            {{form.phonenumber.label}}
            {{form.phonenumber}}
            {{form.email.label}}
            {{form.email}}
            {{form.website.label}}
            {{form.website}}
            {{form.description.label}}
            {{form.description}}
            {{form.seeking.label}}
            {{form.seeking}}
            {{form.contributors.label}}
            {{form.contributors}}
            {{form.submit}}
        </form>
    </div>
</div>

<script src="/static/script.js"></script>
{% endblock %}