{% extends 'base.html' %}
{% block content %}
	<h2>Main View</h2>
	<form action="{{url_for('index')}}" method="POST">
	{{form.hidden_tag()}}<br>
	{{form.name.label}}<br>
	{{form.name}}<br>
	{{form.phone_number.label}}<br>
	{{form.phone_number}}<br>
	{{form.email.label}}<br>
	{{form.email}}<br>
	{{form.web_site.label}}<br>
	{{form.web_site}}<br>
	{{form.description.label}}<br>
	{{form.description}}<br>
	{{form.seeking.label}}<br>
	{{form.seeking}}<br>
	{{form.Contributors.label}}<br>
	{{form.Contributors}}<br>
	{{form.submit}}
	</form>	
{% endblock %}

